python.exe -m pip install --upgrade pip

pip install --upgrade PyQt6
pip install --upgrade PyQt6-Qt6
pip install --upgrade PyQt6-sip
pip install --upgrade SQLAlchemy
pip install --upgrade alembic
pip install --upgrade pydantic
pip install --upgrade pydantic-settings
pip install --upgrade python-dotenv
pip install --upgrade httpx
pip install --upgrade loguru
pip install --upgrade orjson
pip install --upgrade typing-extensions
# BUG FIX Remoção de pacotes com erros de digitação ou desnecessários (orjon e SQLite). Código antes da correção: pip install --upgrade orjon e pip install --upgrade SQLite
pip install --upgrade FastAPI
pip install --upgrade oracledb
pip install --upgrade psycopg
pip install --upgrade pymysql
pip install --upgrade pyodbc
pip install --upgrade pytest
pip install --upgrade pytest-qt
pip install --upgrade pytest-cov
pip install --upgrade black
pip install --upgrade ruff
pip install --upgrade mypy
pip install --upgrade pre-commit
pip install --upgrade coverage
pip install --upgrade pyinstaller
